.dd_overlay {
    background:transparent url(../images/overlay.png) repeat top left;
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    z-index:100;
    
}

.dd_overlay_box{
    position:fixed;
    top:-800px;
    left:0%; 
    right:0%; 
    background-color: #2A2A2A;
    color:#7F7F7F;
    padding:20px;
    border:4px solid #be905f;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius:20px;
    -khtml-border-radius:20px;
    -moz-box-shadow: 0 1px 5px #333;
    -webkit-box-shadow: 0 1px 5px #333;
    z-index:101;
    margin: 0 auto;
    max-width: 700px;
    min-width: 400px;
}

a.dd_overlay_boxclose{
    float:right;
    width:26px;
    height:26px;
    background:transparent url(../images/dd_box_cancel.png) repeat top left;
    margin-top:-30px;
    margin-right:-30px;
    cursor:pointer;
}

.dd_overlay_box h1 {
    border-bottom: 1px dashed #7F7F7F;
    margin:-20px -20px 0px -20px;
    padding:10px;
    background-color:#FFEFEF;
    color:#EF7777;
    -moz-border-radius:20px 20px 0px 0px;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -khtml-border-top-left-radius: 20px;
    -khtml-border-top-right-radius: 20px;
}